{% extends "header.html" %}
{% block body %}

<body>
	<div class = "container">
		
		<h4>Register</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}

		<form action = "/register/" method = "post">
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.email)}}
				{{render_field(form.password)}}
				{{render_field(form.confirm)}}
				{{render_field(form.acceptTOS)}}
			</dl>
			<p><input type = submit value = Register></p>

		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

		<p>{{error}}</p>

	</div>





</body>





{% endblock %}